$start-color:#31CDB0;
$mid-color:#2C8EC4;
$end-color:#3551A4;

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, $start-color,$mid-color,$end-color);
    display: flex;
    z-index: 999;
    
    img{
        position: relative;
        left:1%;
    }
    nav{
        position: relative;
        left: 70%;
        ul{
            display: flex;
            list-style-type: none;
            li{
                padding-right: 20px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
.filler{
    padding-top: 5%;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    div{
        margin: 0% 2%;
        text-align: center;
        .image-class{
            width:300px;
            border: 0px;
            border-radius: 15px;
            transition: 0.4s;
        }
        .image-class:hover{
            transform: translateY(-5px);
            -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
            transition: 0.4s;
        }
    }
}

h1{
    padding-left: 10px;
}

#about{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 3%;
}
#contact{
    margin-left:3%;
    

}

.footer{
    text-align: center;
    margin-left:90px;
}